html {
    box-sizing: border-box;
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: normal;
    background-color: var(--vscode-sideBar-background, #f2f2f2);
}

p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	/* font-size: var(--vscode-editor-font-size); */
	font-family: var(--vscode-editor-font-family);
}

button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground, #ffffff);
	background: var(--vscode-button-background, #705697);
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground, #5a4579);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}
