.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 10; 
}

.div-popup {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 72%;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: var(--vscode-editor-background, #ffffff);
    color: var(--vscode-foreground, #616161);
    text-align: center;
    z-index: 20;
}

.popup-title {
    font-size: 24px;
    font-weight: 600;
}

.popup-info {
    margin: 10px auto;
}

.div-popup form {
    margin: 20px;
}